.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  border: 1px solid #000;
  float: left;
  font: 60px "Century Gothic", Futura, sans-serif;
  text-align: center;
  line-height: 100px;
  height: 100px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  width: 100px;
}

.game-info {
  font: 12px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
